<div class="container">

<h2>Registration information:</h2>
<br>
   <div  ng-if="myinfoCtrl.noError">
First Name: {{myinfoCtrl.fName}}<br><br>
Last Name: {{myinfoCtrl.lName}}<br><br>
Email: {{myinfoCtrl.eml}}<br><br>
Phone: {{myinfoCtrl.ph}}<br><br>
Favourite menu item: <br>{{myinfoCtrl.favItem}}<br><br>
Item Description: {{myinfoCtrl.description}}<br><br>
<img src="https://ares-course5.herokuapp.com//images/{{myinfoCtrl.search}}" >
<br><br>
</div>

   <div  ng-if="!myinfoCtrl.noError">
<a href="#/signup">
Not Signed Up Yet.Sign up Now! </a>
</div>
</div>
